.cart-header h2{
    border-bottom: 2px dotted var(--main-color);
    color: var(--dark-gray);
    width: 100px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.cart-header .icon{
    color: var(--main-color);
    font-size: 25px;
}

.total-price{
    color: var(--dark-gray);
}

.pay-btn {
    width: 100%;
    color: #fff;
    background-color: var(--main-color);
    font-size: 23px;
    transition: all .3s;
}

.pay-btn:hover{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

@media screen and (max-width: 470px) {
    .res-1{
        display: none;
    }
}